In [1]:
import os
os.chdir('/content/drive/Shareddrives/yujung kim/Study/Python/time_series')

In [2]:
import pandas as pd
from datetime import datetime, date, timezone, timedelta

In [3]:
pv = pd.read_csv('data/PV_hour.csv')
pv.columns = ['time', 'power']

# datetime

In [4]:
# datetime 으로 변환
tz = timezone(timedelta(hours=-6))
pv['datetime'] = [datetime(int(f"20{i[6:8]}"), int(i[:2]), int(i[3:5]), int(i[9:11]), tzinfo=tz) for i in pv['time']]
pv['month'] = [i.month for i in pv['datetime']]
pv['day'] = [i.day for i in pv['datetime']]

# solar info

In [ ]:
!pip install pysolar

In [ ]:
from pysolar.solar import get_altitude, get_azimuth
from pysolar.radiation import get_radiation_direct

In [ ]:
pv['alt'] = [get_altitude(latitude_deg=30.45, longitude_deg=-88.25, when=i) for i in pv['datetime']]
pv['azi'] = [get_azimuth(latitude_deg=30.45, longitude_deg=-88.25, when=i) for i in pv['datetime']]
pv['rad'] = [get_radiation_direct(when=pv['datetime'].iloc[i], altitude_deg=pv['alt'].iloc[i]) for i in range(pv.shape[0])]

/usr/local/lib/python3.7/dist-packages/pysolar/radiation.py:50: RuntimeWarning: overflow encountered in exp
  return flux * math.exp(-1 * optical_depth * air_mass_ratio) * is_daytime
/usr/local/lib/python3.7/dist-packages/pysolar/radiation.py:50: RuntimeWarning: invalid value encountered in multiply
  return flux * math.exp(-1 * optical_depth * air_mass_ratio) * is_daytime

In [ ]:
pv.iloc[:10]

,time,power,datetime,month,day,alt,azi,rad
0,01/01/06 00,0.0,2006-01-01 00:00:00-06:00,1,1,-82.519778,6.327078,0.000000
1,01/01/06 01,0.0,2006-01-01 01:00:00-06:00,1,1,-74.001270,66.094544,0.000000
2,01/01/06 02,0.0,2006-01-01 02:00:00-06:00,1,1,-61.530551,82.353403,0.000000
3,01/01/06 03,0.0,2006-01-01 03:00:00-06:00,1,1,-48.633108,91.048671,0.000000
4,01/01/06 04,0.0,2006-01-01 04:00:00-06:00,1,1,-35.752419,97.771663,0.000000
5,01/01/06 05,0.0,2006-01-01 05:00:00-06:00,1,1,-23.063958,104.017664,0.000000
6,01/01/06 06,0.0,2006-01-01 06:00:00-06:00,1,1,-10.720856,110.478073,0.000000
7,01/01/06 07,30.2,2006-01-01 07:00:00-06:00,1,1,1.432672,117.660871,4.696817
8,01/01/06 08,58.0,2006-01-01 08:00:00-06:00,1,1,12.143450,126.079567,636.876159
9,01/01/06 09,139.3,2006-01-01 09:00:00-06:00,1,1,21.852863,136.311614,849.424805

# weather info (실제 기상 데이터)

In [ ]:
!pip install meteostat

Collecting meteostat
  Downloading meteostat-1.6.1-py3-none-any.whl (30 kB)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from meteostat) (2018.9)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from meteostat) (1.21.5)
Requirement already satisfied: pandas>=1.1 in /usr/local/lib/python3.7/dist-packages (from meteostat) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.1->meteostat) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.1->meteostat) (1.15.0)
Installing collected packages: meteostat
Successfully installed meteostat-1.6.1

In [ ]:
from meteostat import Point, Daily, Hourly

In [ ]:
alabama = Point(30.45, -88.25, 0)
start = datetime(2006, 1, 1)
end = datetime(2006, 12, 31, 23, 59)

# data = Daily(alabama, start, end)
data = Hourly(alabama, start, end)

In [ ]:
pv_weather = data.fetch().reset_index(drop=True)
weather_columns = list(pv_weather.columns)
pv.loc[:,weather_columns] = pv_weather[weather_columns]

In [ ]:
pv

,time,power,datetime,month,day,alt,azi,rad,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
0,01/01/06 00,0.0,2006-01-01 00:00:00-06:00,1,1,-82.519778,6.327078,0.0,17.6,15.9,90.0,NaN,NaN,130.0,5.4,NaN,1013.9,NaN,NaN
1,01/01/06 01,0.0,2006-01-01 01:00:00-06:00,1,1,-74.001270,66.094544,0.0,15.1,14.5,96.0,0.0,NaN,180.0,11.2,NaN,1014.7,NaN,NaN
2,01/01/06 02,0.0,2006-01-01 02:00:00-06:00,1,1,-61.530551,82.353403,0.0,15.1,14.5,96.0,0.0,NaN,200.0,11.2,NaN,1015.0,NaN,NaN
3,01/01/06 03,0.0,2006-01-01 03:00:00-06:00,1,1,-48.633108,91.048671,0.0,15.7,15.1,96.0,0.0,NaN,180.0,11.2,NaN,1014.9,NaN,NaN
4,01/01/06 04,0.0,2006-01-01 04:00:00-06:00,1,1,-35.752419,97.771663,0.0,15.7,15.1,96.0,0.0,NaN,170.0,9.4,NaN,1014.7,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,12/31/06 19,0.0,2006-12-31 19:00:00-06:00,12,31,-24.605456,256.686082,0.0,19.5,14.5,73.0,0.0,NaN,340.0,9.4,NaN,1017.2,NaN,NaN
8756,12/31/06 20,0.0,2006-12-31 20:00:00-06:00,12,31,-37.320299,262.945079,0.0,20.1,13.3,65.0,0.0,NaN,310.0,7.6,NaN,1016.9,NaN,NaN
8757,12/31/06 21,0.0,2006-12-31 21:00:00-06:00,12,31,-50.210673,269.794216,0.0,20.7,12.9,61.0,0.0,NaN,310.0,0.0,NaN,1017.0,NaN,NaN
8758,12/31/06 22,0.0,2006-12-31 22:00:00-06:00,12,31,-63.090341,278.930730,0.0,18.4,14.1,76.0,0.0,NaN,290.0,0.0,NaN,1017.3,NaN,NaN
8759,12/31/06 23,0.0,2006-12-31 23:00:00-06:00,12,31,-75.426280,297.211075,0.0,17.9,14.6,81.0,0.0,NaN,NaN,0.0,NaN,1017.4,NaN,NaN

In [ ]:
import pickle
with open('data/pv.pickle', 'wb') as f:
    pickle.dump(pv, f)

# weather forecase info (기상 예보 데이터)

- 2006 년 데이터 검색 불가

In [ ]:
!pip install wwo-hist

Requirement already satisfied: wwo-hist in /usr/local/lib/python3.7/dist-packages (0.0.7)

In [ ]:
api = open("WWO_API_key.txt", "r")
api_key = api.readlines()
api.close()

In [ ]:
from wwo_hist import retrieve_hist_data

In [ ]:
FREQUENCY = 1
START_DATE = '1-JAN-2006'
END_DATE = '2-JAN-2006'
API_KEY = api_key[0]
LOCATION_LIST = ['30.45,-88.25']

In [ ]:
hist_weather_data = retrieve_hist_data(API_KEY,
                                LOCATION_LIST,
                                START_DATE,
                                END_DATE,
                                FREQUENCY,
                                location_label = False,
                                export_csv = True,
                                store_df = False)

Retrieving weather data for 30.45,-88.25


Currently retrieving data for 30.45,-88.25: from 2006-01-01 to 2006-01-02
http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key=089eff19e36445f5af680445221404&q=30.45,-88.25&format=json&date=2006-01-01&enddate=2006-01-02&tp=1

KeyError: ignored

# wheather info 를 기상 예보로 활용

In [8]:
import pickle
import numpy as np

In [9]:
with open('data/pv.pickle', 'rb') as f:
    pv = pickle.load(f)

In [43]:
x_columns = list(pv.columns[5:])

In [44]:
pv_temp = pv.loc[12:,x_columns].reset_index(drop=True)
pv_temp2 = pd.DataFrame(index=range(12), columns=x_columns)
pv_temp = pd.concat([pv_temp, pv_temp2], axis=0).reset_index(drop=True)

In [50]:
pv.loc[:, x_columns] = pv_temp

In [51]:
pv

,time,power,datetime,month,day,alt,azi,rad,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
0,01/01/06 00,0.0,2006-01-01 00:00:00-06:00,1,1,36.594880,180.956186,977.640903,17.3,16.8,97.0,0.0,NaN,190.0,11.2,NaN,1013.7,NaN,NaN
1,01/01/06 01,0.0,2006-01-01 01:00:00-06:00,1,1,34.487106,197.735116,965.638100,17.9,17.3,96.0,0.0,NaN,170.0,13.0,NaN,1013.8,NaN,NaN
2,01/01/06 02,0.0,2006-01-01 02:00:00-06:00,1,1,28.969966,212.624858,926.303246,17.9,17.3,96.0,0.0,NaN,190.0,14.8,NaN,1014.2,NaN,NaN
3,01/01/06 03,0.0,2006-01-01 03:00:00-06:00,1,1,20.866405,224.950321,835.233696,17.9,17.9,100.0,0.0,NaN,180.0,11.2,NaN,1014.9,NaN,NaN
4,01/01/06 04,0.0,2006-01-01 04:00:00-06:00,1,1,10.999445,234.958055,595.071846,18.4,17.9,97.0,0.0,NaN,180.0,13.0,NaN,1015.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,12/31/06 19,0.0,2006-12-31 19:00:00-06:00,12,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8756,12/31/06 20,0.0,2006-12-31 20:00:00-06:00,12,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8757,12/31/06 21,0.0,2006-12-31 21:00:00-06:00,12,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8758,12/31/06 22,0.0,2006-12-31 22:00:00-06:00,12,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8759,12/31/06 23,0.0,2006-12-31 23:00:00-06:00,12,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
with open('data/pv_forecast.pickle', 'wb') as f:
    pickle.dump(pv, f)